PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/sketu
JWT_SECRET=change-this-to-a-long-random-secret-min-32-chars
CLIENT_ORIGIN=localhost:8081
NODE_ENV=development
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
OTP_DEFAULT_COUNTRY_CODE=+91
